@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

.cardcontainer {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	flex-wrap:wrap;
}

article {
	margin:.5em;
	padding:.5em;
	min-width:20%;
	flex-grow:1;
	border:1px solid;
	height: 300px;
}

h1, h2 {
	text-align: center;
}

.card {
	text-align: center;
}

.card img {
	background-position: center;
}

.purchases p {
	text-align: center;
	width: 100%;
	font-size: 20px;
	border: 3px solid black;
	border-radius: 10px;
	margin-right: 10px;
}

.headdiv {
	position: absolute;
	right: 0;
	width: 100%;
	background-color: rgb(36, 36, 36);
	border: 2px solid rgb(61, 61, 61);
	color: whitesmoke;
}

.assorti {
	position: relative;
	top: 60px;
	margin-bottom: 40px;
}

.navigation{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:flex-start;
	flex-wrap:wrap;
}

.nav-cards {
	min-width:20%;
	flex-grow:1;
	height: 300px;
}

.wrapper {
	width: 200px;
	height: 30px;
  }

input {
	position: relative;
	right: 12px;
	bottom: 10px;
	background: transparent;
	border: 1px solid rgb(197, 197, 197);
  }

form {
	display: flex;
}

form button {
	position: relative;
	right: 3px;
	border: 1px solid rgb(197, 197, 197);
}

.nav-cards img {
	position: relative;
	right: 5px;
}

.nav-cards a {
	position: relative;
	right: 8px;
}

.quest {
	height: 200px;
	margin-top: 20px;
}

.section-separator-figure{
	background-color: rgb(36, 36, 36);
	position: absolute;
	right: 0;
	width: 100%;
	border: 1px solid rgb(61, 61, 61);
}

footer {
	margin-top: 15px;
}

.backward {
	position: absolute;
	top: 140px;
	background: rgb(36, 36, 36);;
	border: 2px solid rgb(61, 61, 61);
	width: 100%;
	left: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

h1 a:active, h1 a {
  text-decoration: none;
  color: white;
}

a:hover {
	color: grey;
}

.backward a {
	color: lightgrey;
}

.backward a:hover {
	color: grey;
}

.collections {
	position: relative;
	top: 60px;
	margin-bottom: 40px;
}


.collections {
	position: relative;
	top: 70px;
	margin-bottom: 60px;
}

.section-separator-figure-collections {
	background-color: rgb(36, 36, 36);
	position: absolute;
	right: 0;
	width: 100%;
	border: 1px solid rgb(61, 61, 61);
	margin-top: 20px;
}

.footer-collections {
	margin-top: 40px;
}

/* ------------------ */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}
