@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
}

.cardcontainer {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	flex-wrap:wrap;
}

h1, h2 {
	text-align: center;
}

.card {
	margin:.5em;
	padding:.5em;
	min-width:20%;
	flex-grow:1;
	border:1px solid;
	height: 300px;
	text-align: center;
	overflow: hidden;
	position: relative;
	background-color: rgb(255, 255, 255);	
}

.card img {
	background-position: center;
}

.assorti {
	margin-bottom: -20px;
	z-index: 1;
}

.navigation{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:flex-start;
	flex-wrap:wrap;
}

.nav-cards {
	min-width:20%;
	flex-grow:1;
	height: 300px;
}

.wrapper {
	width: 200px;
	height: 30px;
  }

.navigation input {
	position: relative;
	right: 12px;
	bottom: 10px;
	background: transparent;
	border: 1px solid rgb(197, 197, 197);
  }

.navigation form {
	display: flex;
}

.navigation form button {
	position: relative;
	right: 3px;
	border: 1px solid rgb(197, 197, 197);
}

.nav-cards img {
	position: relative;
	right: 5px;
	margin: 0;
}

.nav-cards a {
	position: relative;
	right: 8px;
}

.quest {
	height: 200px;
}

a{
	text-decoration: none;
}

a:hover {
	color: grey;
}

.collections {
	position: relative;
	top: 10px;
}

ul .abcv {
	font-size: 14px;
	color: rgb(104, 104, 104);
	margin-bottom: -5px;
}

.abcv {
	font-size: 14px;
	color: rgb(104, 104, 104);
	margin-bottom: -2.5px;
	margin-left: 10px;
}

.zoom-effect {
	transition: transform 0.2s;
}

.zoom-effect:hover {
	transform: scale(1.05);
  }

.oryr {
	text-align: center;
}

.choose_size {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.cs_card {
	border: black 1px solid;
	border-radius: 2px;
	margin: 0px 10px;
	height: 35px;
	width: 35px;
}

.cs_card:hover {
	background-color: rgb(214, 214, 214);
}

.active_size_btn {
	background-color: rgb(195, 195, 195);
	
}

.active_size_btn:hover {
	background-color: rgb(175, 175, 175);
}

.oryr ul p {
	color: rgb(104, 104, 104);
	font-weight: bold;
}

.yrti {
	color: rgb(0, 145, 145);
}

.toprot {
	padding: 0;
	margin-left: 15px;
}

.abcvt {
	font-size: 13px;
	color: rgb(104, 104, 104);
	margin-bottom: -7px;
}

.ordercardcontainer {
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	flex-wrap:wrap;
	margin-left: 15px;
	max-width: 650px;
}

.order_card {
	display: flex;
	height: 90px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	flex-wrap:wrap;
	padding-top: 0;
	padding-bottom: 0;
}

.order_card img {
	position: relative;
	bottom: 20px;
	right: 5px;
}

.oeruty {
	font-size: 12px;
	position: relative;
	margin-bottom: -15px;
	top: -15px;
	color: rgb(104, 104, 104);
	left: 3px;
}

.flex_row {
	display: flex;
	flex-direction: column;
}

.rpew {
	font-size: 15px;
	margin-top: -12px;
	
}

.hgkfte {
	position: relative;
	margin-left: auto;
	top: 25px;
	color: rgb(104, 104, 104);
}

.eqwro {
	margin-top: -10px;
	margin-left: 45%;
}

.headcart{
	display: flex;
	width: 100%;
	height: 50px;
}

.eihrgb {
	margin-left: auto;
	margin-top: -27.5px;
}

footer p {
	color: grey;
	margin-left: -20px;
}

.section-separator-figure{
	position: absolute;
	right: 0;
	width: 100%;
	border: 1px solid rgb(139, 139, 139);
	padding: 0;
}

.retueyt {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: 60%;
	border: 1px solid;
	border-radius: 7px;
	margin-left: 10px;
	margin-top: 5px;
}

.ahg {
	width: 40%;
	font-size: 14px;
	color: rgb(51, 51, 51);
	/* border: 1px solid; */
}

.erit {
	width: 60%;
	text-align: end;
	/* border: 1px solid; */
}

.ower {
	font-size: 18px;
	color: black;
	font-weight: bold;
}

/* --------------------- */

.app-button[data-v-c3114ba2] {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 51px;
    padding: 0 10px;
    cursor: pointer;
    transition: color .2s ease 0s, background-color .2s ease 0s, box-shadow .2s ease 0s;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 1px;
    outline: none;
    background: #0a3241;
    box-shadow: 0 0 0 rgba(10, 50, 65, 0);
    font-family: Open Sans, arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.app-button:hover{
	background: #072e3b;
}

.app-button:active{
	background: #062631;
}

.basket-price__submit {
    margin: 0 0 15px;
	width: 100%;
	margin: 0 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

  /* --------------------- */

.sbp {
	margin-left: 30px;
	margin-top: -20px;
}

.sber {
	margin-bottom: 12px;
}

.bank{
	margin-bottom: 10px;
	margin-left: 7px;
}

.ebat {
	margin-top: -20px;
}

.box_4_btn {
	width: 60%;
	margin-left: 20%;
}

.paypose {
	right: 20px;
}

.atg:hover{
	color: blue
}

.headdiv {
	display: flex;
	align-items: center;
  	justify-content: space-between;
	flex-direction: row;
	position: sticky;
	top: 0;
	z-index: 2;
	right: 0;
	width: 100%;
	background-color: rgb(36, 36, 36);
	border: 2px solid rgb(61, 61, 61);
	color: whitesmoke;
}

.flex-footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footer-name {
	margin-left: 1%;
}
 
.footer-log {
	margin-right: 3%;
	color: rgb(68, 68, 68);
	border: 1px solid rgb(156, 156, 156);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
}

/* auth zone */

.container_auth {
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 500px;
	height: 600px;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 5px;
	overflow:hidden;
	margin-bottom: 70px;
}

.container_auth form {
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	height: 60%;
	flex-direction: column;
}

.container_auth .authnamecon {
	margin-left: -130px;
	height: 40px;
	margin-top: 20px;
}

.auth-register-btn {
	position: relative;
	left: 120px;
	top: 25px;
	height: 40px;
	color: rgb(68, 68, 68);
	border: 1px solid rgb(134, 134, 134);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
}

.btn-auth-form, .pass-form, .auth-form {
	width: 300px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid rgb(134, 134, 134);
	margin-bottom: 10px;
}

.btn-auth-form {
	width: 100px;
	margin-left: auto;
    margin-right: auto;
	font-size: 14px;
	background-color: rgb(218, 218, 218);
	border-radius: 15px;
}

.regnameregister {
	position: relative;
	left: 15px;
}

.personal-flex-box-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border: 2px solid rgb(175, 175, 175);
	border-radius: 5px;
	width: 60%;
	margin-left: auto;
	height: 40%;
}

.child_from_personal-flex-box {
	margin-bottom: auto;
	position: relative;
	bottom: 40px;
}

.personal_page {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	margin-left: auto;
    margin-right: auto;
	min-width: 400px;
	max-width: 600px;
	height: 600px;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 5px;
	margin-bottom: 70px;
}

.my_avatar {
	border: 2px solid rgb(109, 109, 109);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
	width: 150px;
	height: 150px;
}

.bd_box_of_goods .goods {
	border: 2px solid rgb(156, 156, 156);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
	margin-top: 30px;
	width: 375px;
}

.box_update_bd {
	overflow-y: scroll;
}

.newnameicobd {
	margin-right: -20px;
}

.completebtn {
	border: 1px solid rgb(134, 134, 134);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
	color: black;
	position: relative;
	right: 5px;
}

.completebtn:hover {
	background-color: rgb(189, 189, 189);
	color: rgb(0, 0, 0);
}

.adminblock {
	border: 2px solid rgb(175, 175, 175);
	border-radius: 5px;
	width: 100%;
	height: 300px;	
	display: flex;
	justify-content: space-between;
}

.btn-adminpage {
	margin-top: 10px;
	height: 40px;
	margin-right: 0;
}

.chbtn {
	margin-right: -40px;
	margin-left: -10px;
}

.goodscenter {
	text-align: center;
}

p strong {
	color: rgb(70, 70, 70)
}

.editloginbtn {
	margin-right: auto;
	margin-left: 5px;
}

.edituserbtn {
	color: black;
}

.edituserbtn:hover {
	color: rgb(85, 85, 85);
}

.flexbox_trade {
	display: flex;
	justify-content: space-between;
	padding-left: 50px; padding-right: 50px;
	align-items: center;
	margin-bottom: 40px;
}

.trade_img {
	border: 2px solid grey;
	border-radius: 5px;
	overflow: hidden;
	height: 250px;
	width: 250px;
	
}

.poscentertext {
	margin-right: auto; margin-left: auto;
	margin-bottom: 560px;
}

.pointer {
	cursor: pointer;
} 

.changeimage {
	position: absolute;
	padding: 0;
	width: 240px;
	height: 40px;
	top: 350px;
}

.choosecollect {
	margin-top: -10px;
	color: rgb(88, 88, 88);
}

.color88 {
	color: rgb(88, 88, 88);
}

.absflashes {
	position: absolute;
	top: 0;
	z-index: 5;
	color: rgb(68, 68, 68);
	border: 1px solid rgb(156, 156, 156);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);	
  	left: 50%;
  	transform: translate(-50%);
	top: 5%;
	animation: fade 4s ease forwards;
}

@keyframes fade {
	from {
	  opacity: 1;
	  visibility: visible;
	}
	to {
	  opacity: 0;
	  visibility: hidden;
	}
  }

.flashes {
	position: absolute;
	top: 275px;
	color: rgb(68, 68, 68);
	border: 1px solid rgb(156, 156, 156);
	border-radius: 5px;
	background-color: rgb(218, 218, 218);	
	animation: fade 4s ease forwards;
}

/* Выпадающее окно */

.buttons_headdiv{
	border: 2px rgb(31, 31, 31) solid;
	border-radius: 8%;
	background-color: rgb(53, 53, 53);
	cursor: pointer;
	width: 105px;
	height: 40px;
	overflow: hidden;
}

.headdiv a {
	color: whitesmoke;
}

.headdiv a:hover {
	color: rgb(190, 190, 190);
}

.dropdown-content {
	border: 2px solid rgb(31, 31, 31);
	border-radius: 5px;
	display: none;
	position: absolute;
	background-color: rgb(53, 53, 53);
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 10px;
	top: 60px;
}

.dropdown-content a {
	color: whitesmoke;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.show {display: block;}

/* ----------------------- */

.menubtnstyle {
	padding: 0;
	position: relative;
	bottom: 10px;
	left: 7px;
	width: 45px;
	height: 35px;
}

