<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title> unknxwn </title>
        {% endblock title %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
{% endblock head %}
<body>
    <main>
        {% block header%}
        <div class="headdiv">
            <div class="buttons_headdiv"><a href="{{ url_for('index') }}">Главная</a></div>
            <h1 class="headdiv_name">unknxwn shop</h1>

            <div class="dropdown buttons_headdiv">
                <a onclick="myFunction()" class="dropbtn">Профиль</a>

                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ url_for('personal') }}">Профиль</a>
                    <a href="{{ url_for('order') }}">Корзина</a>
                    <a href="{{ url_for('yourtrades') }}">Ваши заказы</a>
                  </div>
            </div>

        </div>
        {% endblock header%}

        {% block content%}{% endblock content%}
        
    </main>
{% block footer %}
    <footer class="flex-footer">
        <p class="footer-name">&copy; 2024 интернет магазин unknxwn</p>
    </footer>
{% endblock footer %}
</body>
</html>
