{% extends "base.html" %}

{% block content %}
    <div class="container_auth">
        <h2 class="authnamecon">Авторизация</h2>
        <a href="{{ url_for('register') }}" class="auth-register-btn">Регистрация</a>
        <form id="signin" method="" action="" autocomplete="off">
            <input class="auth-form" type="text" id="user" name="user" placeholder="Логин" required>
            <input class="pass-form" type="password" id="pass" name="pass" placeholder="Пароль" required>
            <button class="btn-auth-form" type="submit">Войти</button>
        </form>
    </div>
    <div class="section-separator-figure"></div>
{% endblock content %}

{% block footer %}
<footer>
    <p>&copy; 2024 интернет магазин unknxwn</p>
</footer>
{% endblock footer %}
