{% extends "base.html" %}

{% block title %}
    <title>Штаны | unknxwn</title>
{% endblock title %}

{% block content %}
<div class="collections"><h2>Штаны</h2></div>

<div class="cardcontainer">

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Штаны</p>
        <a href="{{ url_for('proof_of_pants') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/pants.jpg') }}" alt="Штаны" height="250"></a>
    </article>

</div>  
{% endblock content %}
