{% extends 'base.html' %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock title %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=absflashes>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h2 class="namepersonalpage">Личный кабинет</h2>
    <style>
        .namepersonalpage {
            margin-top: 5px;
        }
    </style>
    <div class="personal_page">
        <img class="my_avatar" src="{{ current_user.avatar(128) }}" alt="Аватарка">
        <div class="personal-flex-box-info">  
            <p>Ваше имя профиля - {{current_user.login}} </p>
            <p>Ваш id профиля - {{current_user.id}} - </p>
            <p>Ваш email - {{current_user.email}}</p>
            <p>Статус - 
                {% if current_user.admin == False %}
                    Пользователь
                {% else %}
                    Админ
                {% endif %}
            </p>
            <p>
                <form action="" class="changeimage">
                    <input type="file" name="" id="">
                </form>
            </p>
        </div>
        <a href="{{ url_for('logout') }}" class="footer-log child_from_personal-flex-box">Выйти из аккаунта</a>
            <div class="adminblock">
                {% if current_user.admin == True %}
                    <a href="{{ url_for('basepage') }}" class="footer-log btn-adminpage">База Данных</a>
                    <a href="{{ url_for('users') }}" class="footer-log btn-adminpage">Пользователи</a>
                    <a href="{{ url_for('addinggoods') }}" class="footer-log btn-adminpage">Добавление товаров</a>
                    <a href="{{ url_for('trades') }}" class="footer-log btn-adminpage">Заказы</a>
                {% else %}
                {% endif %}
            </div>
    </div>
    <div class="section-separator-figure"></div>
{% endblock content %}

{% block footer %}
<footer>
    <p>&copy; 2024 интернет магазин unknxwn</p>
</footer>
{% endblock footer %}
