{% extends 'base.html' %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock title %}

{% block content %}
    <h2>Личный кабинет</h2>

    <div class="personal-flex-box-info">  
        {% for el in userdata %} 
        <p>Ваше имя профиля - {{ el.login }}</p>
        <p>Ваш id профиля - {{ el.id }}-</p>
        {% endfor %}
        <a href="{{ url_for('logout') }}" class="footer-log child_from_personal-flex-box">Выйти из аккаунта</a>
    </div>

    <div class="section-separator-figure"></div>
{% endblock content %}

{% block footer %}
<footer>
    <p>&copy; 2024 интернет магазин unknxwn</p>
</footer>
{% endblock footer %}
