{% extends "base.html" %}

{% block title %}
    <title>Подтверждение заказа</title>
{% endblock title %}

{% block content %}
<div class="assorti"><h2>Футболка</h2></div>
<div class="cardcontainer">
    <article class="card">
        <img src="{{ url_for('static', filename='img/t-shirts.jpg') }}" alt="Футболка" height="270">
    </article>
</div>
<div class="oryr">
    <h3>2499 руб</h3>
    <div class="choose_size">
        <button class="cs_card">XS</button>
        <button class="cs_card">S</button>
        <button class="cs_card">M</button>
        <button class="cs_card">L</button>
        <button class="cs_card">XL</button>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <ul>
        <p>Собственное произодство</p>
        <p>Хлопок - 100%</p>
        <p>Качественный принт</p>
    </ul>
</div>

<div class="box_4_btn"><button data-v-c3114ba2="" class="app-button basket-price__submit width-100 paypose" type="submit">
    Добавить в корзину
</button></div>
<nav>
    <div class="navigation">
        <div class="nav-cards quest">
            <h3>Остались вопросы?</h3>
            <p class="abcv">Мы рады ответить на любые вопросы ежедневно с 10:00 до 23:00</p>
            <ul>
                <li class="abcv">Позвоните на номер 8 (123) 456-78-90</li>
                <li class="abcv">Задай вопрос менеджеру в <a class="atg" href="https://t.me/+e35Bnx9B03o4Mjg6">Телеграм</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section-separator-figure"></div>
{% endblock content %}
