<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UNDERWEAR | unknxwn </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="headdiv"><h1>Нижнее белье | <a href="{{ url_for('index') }}">unknxwn</a></h1></div>
    </header>
    <main>
        <div class="collections"><h2>Универсальная коллекция</h2></div>

        <div class="cardcontainer">
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
        </div>  

        <h2>Мужская коллекция</h2>

        <div class="cardcontainer">
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
        </div>

        <h2>Женская коллекция</h2>

        <div class="cardcontainer">
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
            <article class="card">
                <p>Нижнее белье</p>
                <a href="{{ url_for('underwear') }}">
                    <img src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
            </article>
        </div>
        <div class="section-separator-figure-collections"></div>
    </main>
    <footer class="footer-collections">
        <p>&copy; 2024 интернет магазин unknxwn</p>
    </footer>
</body>
</html>
