{% extends "base.html" %}

{% block title %}
    <title>Нижнее белье | unknxwn</title>
{% endblock title %}

{% block content %}
<div class="collections"><h2>Нижнее белье</h2></div>

<div class="cardcontainer">

    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>
    
    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>
    
    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>
    
    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>

    <article class="card">
        <p>Нижнее белье</p>
        <a href="{{ url_for('proof_of_underwear') }}">
            <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" alt="Штаны" height="250"></a>
    </article>

</div>  

{% endblock content %}
