<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UNDERWEAR | unknxwn </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="headdiv"><h1>Нижнее белье | <a href="{{ url_for('index') }}">unknxwn</a></h1></div>
    </header>
    <main>
        <nav class="backward">
            <a href="{{ url_for('index') }}">На главную</a>
        </nav>
    </main>
    <footer>

    </footer>
</body>
</html>
