{% extends "base.html" %}

{% block title %}
    <title>База данных</title>
{% endblock title %}


{% block content %}
<div class="container_auth box_update_bd">
    <h2 class="authnamecon newnameicobd usbd">Клиенты</h2>
    <a href="{{ url_for('personal') }}" class="auth-register-btn">Вернуться назад</a>
    <div class="bd_box_of_goods">
        {% if users %}
            {% for el in users %}
            <div class="goods">
                <p>user id -<strong>{{ el.id }}</strong>-</p>
                <p>login -<strong>{{ el.login }}</strong>-</p>
                <p>email -<strong>{{ el.email }}</strong>-</p>
                <p>
                {% if el.login != current_user.login %}
                    <a href="/users/{{ el.id }}/edit" class="completebtn">Редактировать</a>
                    <a href="/users/{{ el.id }}/delete" class="completebtn">Удалить</a>
                {% endif %}
                </p>
            </div>
            {% endfor %}
        {% else %}
            <div class="goods goodscenter">
                <p>Пользователей пока не существует :(</p>
            </div>
        {% endif %}
        
    </div>
</div>
<div class="section-separator-figure"></div>
{% endblock content %}
