{% extends "base.html" %}

{% block title %}
    <title>Нижнее белье | unknxwn</title>
{% endblock title %}

{% block content %}
<div class="collections"><h2>Нижнее белье</h2></div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=absflashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="cardcontainer">

    {% if goods %}
        {% for el in goods %}
            {% if el.collection == 'белье' %}
                <article class="card">
                    <p>{{el.product}}</p>
                    <a href="{{ el.product_id }}/proof">
                        <img class="zoom-effect" src="{{ url_for('static', filename='img/underwear.jpg') }}" height="240"></a>
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="poscentertext">
            <p>Извините, товары пока отсутствуют</p>
        </div>        
    {% endif %}

</div>  

{% endblock content %}
